{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <section>
        <div class="container col-md-12">
            <div class="row">
                <div class="col-12">
                    <h1>Checkout</h1>
                    <p>
                        Thank you for your visit. Please provide your details to complete your purchase.
                    </p>
                    <p>The total cost of your purchase is <span style="color:green"> {{ totalprice }} </span>.</p>
                </div>
            </div>
            <div class="formwrapper">
                <div class="row">
                    <div class="col-6">
                        <form class="form form-horizontal" method="post" role="form" action="#">
                            {{ form.hidden_tag() }}
                            {{ wtf.form_errors(form, hiddens="only") }}
                            <div class="row">
                                <div class="col">
                                    {{ wtf.form_field(form.first_name) }}
                                </div>
                                <div class="col">
                                    {{ wtf.form_field(form.last_name) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ wtf.form_field(form.email) }}
                                </div>
                                <div class="col">
                                    {{ wtf.form_field(form.phone) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ wtf.form_field(form.street) }}
                                {{ wtf.form_field(form.suburb) }}
                                <div class="row">
                                    <div class="col">
                                        {{ wtf.form_field(form.state) }}
                                    </div>
                                    <div class="col">
                                        {{ wtf.form_field(form.zip) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ wtf.form_field(form.card) }}
                                {{ wtf.form_field(form.card_name) }}
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ wtf.form_field(form.expiry) }}
                                </div>
                                <div class="col">
                                    {{ wtf.form_field(form.cvs) }}
                                </div>
                            </div>
                            <input type="hidden" id="token" name="token" value="check">
                            {{ form.submit (class="btn btn-outline-success my-2 my-sm-0") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}