{% extends "layout.html" %}


<p></p>

{% block content %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="{{ url_for('view.cat1') }}">1</a></li>
            <li class="page-item"><a class="page-link" href="{{ url_for('view.cat2') }}">2</a></li>

            <li class="page-item">
                <a class="page-link" href="{{ url_for('view.cat1') }}">Next</a>
            </li>
        </ul>
    </nav>

    <div class="card-columns">

        {% for Item in items %}
            <div class="card">
                <img src="static/IMG/{{ Item.image }}" class="card-img-top" alt={{ Item.name }}>
                <div class="card-body">
                    <h5 class="card-title">{{ Item.name }}</h5>
                    <p class="card-text">{{ Item.itemShort }}</p>
                    <form class="form-inline my-2 my-lg-0" action="{{ url_for('cart.cart') }}">
                        <input type="hidden" id="item_id" name="item_id" value="{{ Item.id }}">
                        <input type="hidden" id="token" name="token" value="index">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to cart</button>
                        <a class="btn btn-outline-success ml-auto my-2 my-sm-0"
                           href="{{ url_for('.item', itemid=Item.id) }}">View</a>
                    </form>
                    <p style="color:blue;">Price: {{ "$%.2f"|format(Item.price) }}</p>
                </div>
            </div>

        {% endfor %}

    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="{{ url_for('view.cat1') }}">1</a></li>
            <li class="page-item"><a class="page-link" href="{{ url_for('view.cat2') }}">2</a></li>

            <li class="page-item">
                <a class="page-link" href="{{ url_for('view.cat1') }}">Next</a>
            </li>
        </ul>
    </nav>
{% endblock %}